*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: antiquewhite;
    padding: 10px 0;
}

.text-grey{
    color: gray;
    margin:20px;
}
.nav-container{
   display: flex;
    justify-content: space-between;
    align-items: center;
  
}

a {
    text-decoration: none;
}
.menu-left{
    display:flex;
    align-items: center;

}
.menu-right{
    display:flex;
   align-items: center;
    
}
.button{
    background-color: blue;
    color:white;
    padding: 7px;
    border-radius: 10%;
    
}
ul{
    list-style-type: none;
}
