* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans;

}

header {

    padding: 10px 0;
}

.text-grey {
    color: gray;
    margin: 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

a {
    text-decoration: none;
}

.menu-left {
    display: flex;
    align-items: center;

}

.menu-right {
    display: flex;
    align-items: center;

}

.button {
    background-color: blue;
    color: white;
    padding: 7px 0;
    border-radius: 10%;

}

ul {
    list-style-type: none;
}

.primo-section {

    background-color: #87B5C9;
    padding: 5% 20%;


}

.menu-section {
    display: flex;

}

.menu-left-section1 {

    font-size: 7px;

}

.menu-section-right {
    display: flex;
}

.jumbo {
    width: 350px;
    height: auto;

}

.titolo {
    font-size: 100px;
}

.button {
    background-color: blue;
    color: white;
    padding-inline: 30px;
    border-radius: 10%;
    font-size: 10px;

}

.container {
    width: 850px;
    margin: 0 auto;
}

.button-fatturazione {
    display: flex;
    padding-top: 30px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-30 {
    width: 30%;
    border: 1px solid grey;
}

.card-100 {
    width: 100%;
    border: 1px solid grey;
    margin-top: 30px;
}

.name-card {
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 20%;
}



.text {
    line-height: 30px;
    font-size: 10px;

}

.button-prova {
    margin: 10px 0;
    display: inline-block;
    background-color: blue;
    color: white;
    padding-inline: 30px;
    border-radius: 10%;
    font-size: 10px;
    padding: 7px 0;
}