* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans;

}

header {

    padding: 10px 0;
}

.text-grey {
    color: gray;
    margin: 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

a {
    text-decoration: none;
}

.menu-left {
    display: flex;
    align-items: center;

}

.menu-right {
    display: flex;
    align-items: center;

}

.button {
    background-color: blue;
    color: white;
    padding: 7px 0;
    border-radius: 10%;

}

ul {
    list-style-type: none;
}

.primo-section {

    background-color: #87B5C9;
    padding: 5% 20%;


}

.menu-section {
    display: flex;

}

.menu-left-section1 {
    display: flex;
    flex-wrap: wrap;
    font-size: 7px;
    margin-right: 150px;
    margin-top: 20px;
}

.menu-section-right {
    display: flex;
}

.jumbo {
    width: 350px;
    height: auto;

}

.titolo {
    font-size: 100px;
}

.button {
    background-color: blue;
    color: white;
    padding-inline: 30px;
    border-radius: 10%;
    font-size: 10px;

}

.prezzi-section {
    margin: 5% 25%;
}

.button-fatturazione {
    display: flex;
    padding-top: 30px;
}

.card {
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    box-sizing: border-box;
    margin-bottom: 50px;

}

.singolo {
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 20%;
}

.team {
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 20%;
}

.azienda {
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 20%;
}


.border{
    line-height: 30px;
    font-size: 10px;
    border: 1px solid grey;
}
.border-bottom{
    border-bottom: 10px solid
}
.card4{
  
}
